syntax: glob

# project specific

npm.upd.sh
tst/d/out/**

# common

.directory
.dld
.idea
.pcs
.run
.tmp
.tst
.maps
build/Release
logs
nbproject
node_modules
pids

~*

*.gz
*.rar
*.tar
*.zip

*.log
*.pid
*.seed

tst/ut-cov
tst/basic-cocomo-*
lcov.info
lib-cov
coverage

.grunt
.lock-wscript
desktop.ini
thumbs.db
